In [2]:
import numpy as np
import pandas as pd

In [3]:
import numpy as np
import pandas as pd


results = [[0.7256637168141593], [0.6285714285714286], [0.6153846153846153], [0.7899159663865547], [0.6407766990291262]]
df = pd.DataFrame(results).T

s = ""
overall_mean = 0.0
for i in range(0,len(results)):
    s += str(df.describe().round(3).iloc[1][i]) + ' $\pm$ '+ str(df.describe().round(3).iloc[2][i]) + ' &\t'
    overall_mean += df.describe().round(3).iloc[1][i]

s += str((overall_mean/len(results)).round(3))
print(s)
# print(overall_mean/len(results))

0.726 $\pm$ nan &	0.629 $\pm$ nan &	0.615 $\pm$ nan &	0.79 $\pm$ nan &	0.641 $\pm$ nan &	0.68

In [2]:
import numpy as np
import pandas as pd


results = [[0.7256637168141593, 0.7256637168141593, 0.7256637168141593, 0.7256637168141593, 0.7387387387387387, 0.7256637168141593, 0.7256637168141593, 0.7256637168141593, 0.7256637168141593, 0.7256637168141593], [0.6285714285714286, 0.6285714285714286, 0.6285714285714286, 0.6407766990291262, 0.6285714285714286, 0.6285714285714286, 0.6285714285714286, 0.6285714285714286, 0.6285714285714286, 0.6285714285714286], [0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153, 0.6153846153846153], [0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547, 0.7899159663865547], [0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641, 0.6415094339622641]]
df = pd.DataFrame(results).T

s = ""
overall_mean = 0.0
for i in range(0,len(results)):
    s += str(df.describe().round(3).iloc[1][i]) + ' \pm '+ str(df.describe().round(3).iloc[2][i]) + '\t'
    overall_mean += df.describe().round(3).iloc[1][i]
print(s)

print(overall_mean/len(results))

0.727 \pm 0.004	0.63 \pm 0.004	0.615 \pm 0.0	0.79 \pm 0.0	0.642 \pm 0.0
0.6808

In [39]:
a = [[0.5277777777777778, 0.5416666666666666, 0.6388888888888888, 0.5833333333333334, 0.4861111111111111, 0.625, 0.625, 0.625, 0.625, 0.5138888888888888], [0.5138888888888888, 0.4583333333333333, 0.5138888888888888, 0.4861111111111111, 0.5, 0.5277777777777778, 0.5416666666666666, 0.5416666666666666, 0.5138888888888888, 0.5], [0.6111111111111112, 0.5416666666666666, 0.5833333333333334, 0.5277777777777778, 0.5416666666666666, 0.5833333333333334, 0.5555555555555556, 0.5416666666666666, 0.6944444444444444, 0.5972222222222222], [0.5972222222222222, 0.6111111111111112, 0.6527777777777778, 0.6388888888888888, 0.6527777777777778, 0.5972222222222222, 0.6388888888888888, 0.6944444444444444, 0.6111111111111112, 0.6527777777777778], [0.5694444444444444, 0.4305555555555556, 0.5138888888888888, 0.5555555555555556, 0.5277777777777778, 0.5972222222222222, 0.5138888888888888, 0.5138888888888888, 0.5277777777777778, 0.5972222222222222]]
b = [[i[3], i[4], i[7], i[8]] for i in a]
b

[[0.5833333333333334, 0.4861111111111111, 0.625, 0.625],
 [0.4861111111111111, 0.5, 0.5416666666666666, 0.5138888888888888],
 [0.5277777777777778,
  0.5416666666666666,
  0.5416666666666666,
  0.6944444444444444],
 [0.6388888888888888,
  0.6527777777777778,
  0.6944444444444444,
  0.6111111111111112],
 [0.5555555555555556,
  0.5277777777777778,
  0.5138888888888888,
  0.5277777777777778]]

In [39]:
a = [[0.5277777777777778, 0.5416666666666666, 0.6388888888888888, 0.5833333333333334, 0.4861111111111111, 0.625, 0.625, 0.625, 0.625, 0.5138888888888888], [0.5138888888888888, 0.4583333333333333, 0.5138888888888888, 0.4861111111111111, 0.5, 0.5277777777777778, 0.5416666666666666, 0.5416666666666666, 0.5138888888888888, 0.5], [0.6111111111111112, 0.5416666666666666, 0.5833333333333334, 0.5277777777777778, 0.5416666666666666, 0.5833333333333334, 0.5555555555555556, 0.5416666666666666, 0.6944444444444444, 0.5972222222222222], [0.5972222222222222, 0.6111111111111112, 0.6527777777777778, 0.6388888888888888, 0.6527777777777778, 0.5972222222222222, 0.6388888888888888, 0.6944444444444444, 0.6111111111111112, 0.6527777777777778], [0.5694444444444444, 0.4305555555555556, 0.5138888888888888, 0.5555555555555556, 0.5277777777777778, 0.5972222222222222, 0.5138888888888888, 0.5138888888888888, 0.5277777777777778, 0.5972222222222222]]
b = [[i[3], i[4], i[7], i[8]] for i in a]
b

[[0.5833333333333334, 0.4861111111111111, 0.625, 0.625],
 [0.4861111111111111, 0.5, 0.5416666666666666, 0.5138888888888888],
 [0.5277777777777778,
  0.5416666666666666,
  0.5416666666666666,
  0.6944444444444444],
 [0.6388888888888888,
  0.6527777777777778,
  0.6944444444444444,
  0.6111111111111112],
 [0.5555555555555556,
  0.5277777777777778,
  0.5138888888888888,
  0.5277777777777778]]

In [210]:
def get_avg(results):
    results = results.split('\t')
    results = [eval(i.split('\pm')[0].strip()) for i in results]
    print(sum(results)/len(results))
    # print(results)
    
    
results = "0.709 \pm 0.028	0.554 \pm 0.086	0.544 \pm 0.071	0.793 \pm 0.007	0.535 \pm 0.196"
get_avg(results)

0.627

In [179]:
(.721+.618+.587+.791+.628)/5

0.669

In [209]:
def into_table(results):
    result = results.split('\t')[:-1]
    avg = results.split('\t')[-1]
    results = [str(i.split('\pm')[0].strip() + ' $\pm$ ' + i.split('\pm')[1]) for i in result]
    results = ' & '.join(results)
    results = results + (' & '+avg)
    print(results)

results = r"0.499 \pm 0.051	0.546 \pm 0.024	0.557 \pm 0.041	0.557 \pm 0.042	0.512 \pm 0.062	0.557 \pm 0.024	0.538"
into_table(results)

0.499 $\pm$  0.051 & 0.546 $\pm$  0.024 & 0.557 $\pm$  0.041 & 0.557 $\pm$  0.042 & 0.512 $\pm$  0.062 & 0.557 $\pm$  0.024 & 0.538

In [10]:
df.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.720234   0.576921   0.570621   0.787944   0.595894
std     0.026214   0.085645   0.081116   0.014069   0.074906
min     0.666667   0.388060   0.444444   0.750000   0.459459
25%     0.721956   0.557437   0.529412   0.789916   0.551682
50%     0.725664   0.628571   0.610018   0.789916   0.641509
75%     0.726870   0.628571   0.615385   0.789916   0.641509
max     0.764706   0.640777   0.692308   0.803419   0.641509

In [8]:
df

          0         1         2         3         4
0  0.725664  0.628571  0.615385  0.750000  0.641509
1  0.666667  0.628571  0.604651  0.803419  0.459459
2  0.727273  0.628571  0.529412  0.789916  0.641509
3  0.688172  0.628571  0.444444  0.789916  0.487179
4  0.725664  0.628571  0.444444  0.789916  0.641509
5  0.720721  0.466667  0.529412  0.789916  0.641509
6  0.764706  0.388060  0.615385  0.796610  0.521739
7  0.725664  0.640777  0.615385  0.789916  0.641509
8  0.725664  0.549451  0.692308  0.789916  0.641509
9  0.732143  0.581395  0.615385  0.789916  0.641509

In [19]:
df = pd.read_csv('../data/Friends_A_whole.tsv', sep='\t')
df.head()

,Unnamed: 0,scene_id,raw_text,characters,cAGR,dialog_state,sent,utterance,context,labels
0,0,01_e12_c08(0),"[['Monica Geller', ' Well, what happened?'], [...",Phoebe Buffay,False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","Well, what happened? Well, he came in for a m...","Well, he came in for a massage, and everythi...","Well, what happened? Ooooohh! My God. Are...",0
1,1,03_e24_c04(0),"[['Monica', ' (to Chandler) Anything but stew....",Rachel,False,"[0, 0, 0, 0, 0, 1, 0, 1]",(to Chandler) Anything but stew. All right so...,"Yeah. Oh, ah with who?",(to Chandler) Anything but stew. All right ...,0
2,2,02_e19_c06(0),"[['Eddie', ' Hey pal.'], ['Chandler Bing', "" A...",Eddie,True,"[1, 0, 1, 0, 1, 0]",Hey pal. Ahhhh-gaaaahhh. Eddie what're you st...,"Hey pal. Ah, just some basic dehydrating of...",Ahhhh-gaaaahhh. Eddie what're you still doin...,1
3,3,02_e12_c05(0),"[['Chandler Bing', "" Oh no no no, she's a tota...",Phoebe Buffay,True,"[0, 0, 0, 0, 0, 0, 0]","Oh no no no, she's a total wack job. Yeah, sh...","No, uh-uh, I'm just, I'm nervous. So, you kn...","Oh no no no, she's a total wack job. Yeah, s...",1
4,4,02_e22_c03(1),"[['Joey Tribbiani', "" Uh, hey, Dr. Greene, why...",Chandler Bing,False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","Uh, hey, Dr. Greene, why don't you come with ...","Yes because uh, you look so young. NO! No, ...","Uh, hey, Dr. Greene, why don't you come with...",0

In [26]:
[a+b for a, b in zip([1,2,3], [4,5,6])]

[5, 7, 9]

In [17]:
results = [[0.453125, 0.53125, 0.515625, 0.59375, 0.625, 0.53125, 0.5625, 0.5625, 0.546875, 0.46875], [0.546875, 0.453125, 0.46875, 0.625, 0.578125, 0.59375, 0.546875, 0.546875, 0.578125, 0.546875], [0.609375, 0.546875, 0.578125, 0.578125, 0.625, 0.578125, 0.59375, 0.546875, 0.546875, 0.5], [0.671875, 0.65625, 0.671875, 0.625, 0.640625, 0.625, 0.6875, 0.65625, 0.625, 0.671875], [0.5, 0.484375, 0.5, 0.484375, 0.5625, 0.515625, 0.59375, 0.53125, 0.53125, 0.40625]]
df = pd.DataFrame(results).T
print(df.describe().iloc[1].mean())
df.describe()

0.5643749999999998

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.539062   0.548438   0.570312   0.653125   0.510938
std     0.052213   0.052833   0.036272   0.023058   0.050524
min     0.453125   0.453125   0.500000   0.625000   0.406250
25%     0.519531   0.546875   0.546875   0.628906   0.488281
50%     0.539062   0.546875   0.578125   0.656250   0.507812
75%     0.562500   0.578125   0.589844   0.671875   0.531250
max     0.625000   0.625000   0.625000   0.687500   0.593750

In [90]:
results = [[0.5833333333333334, 0.5833333333333334, 0.6111111111111112, 0.5972222222222222, 0.5277777777777778, 0.5972222222222222, 0.5694444444444444, 0.5694444444444444, 0.625, 0.5694444444444444], [0.5416666666666666, 0.5972222222222222, 0.5555555555555556, 0.6111111111111112, 0.5277777777777778, 0.5277777777777778, 0.4583333333333333, 0.5416666666666666, 0.5277777777777778, 0.4861111111111111], [0.625, 0.5555555555555556, 0.5555555555555556, 0.6111111111111112, 0.5833333333333334, 0.5972222222222222, 0.5555555555555556, 0.5555555555555556, 0.5555555555555556, 0.6388888888888888], [0.6111111111111112, 0.6527777777777778, 0.6527777777777778, 0.5972222222222222, 0.5833333333333334, 0.5833333333333334, 0.5833333333333334, 0.6388888888888888, 0.6111111111111112, 0.5972222222222222], [0.5138888888888888, 0.5277777777777778, 0.5138888888888888, 0.5555555555555556, 0.4027777777777778, 0.5277777777777778, 0.5416666666666666, 0.4861111111111111, 0.4861111111111111, 0.4027777777777778]]
df = pd.DataFrame(results).T
print(df.describe().iloc[1].mean())
df.describe()

0.5622222222222222

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.583333   0.537500   0.583333   0.611111   0.495833
std     0.026995   0.045385   0.032736   0.027778   0.053612
min     0.527778   0.458333   0.555556   0.583333   0.402778
25%     0.569444   0.527778   0.555556   0.586806   0.486111
50%     0.583333   0.534722   0.569444   0.604167   0.513889
75%     0.597222   0.552083   0.607639   0.631944   0.527778
max     0.625000   0.611111   0.638889   0.652778   0.555556

In [87]:
( 62.77 + 57.07 + 63.62 + 66.33 + 56.49)/5.0

61.25600000000001