In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('../data/Friends_A_whole.tsv', sep='\t')
df.head()

,Unnamed: 0,Unnamed: 0.1,scene_id,raw_text,characters,cAGR,dialog_state,sent,utterance,context,labels,Uttr_EmoBERTa_label,Dialog_EmoBERTa_label
0,0,0,01_e12_c08(0),"[['Monica Geller', ' Well, what happened?'], [...",Phoebe Buffay,False,"[0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1]","Well, what happened? Well, he came in for a m...","Well, he came in for a massage, and everythi...","Well, what happened? Ooooohh! My God. Are...",0,joy,"['neutral', 'neutral', 'neutral', 'neutral', '..."
1,1,1,03_e24_c04(0),"[['Monica', ' (to Chandler) Anything but stew....",Rachel,False,"[0, 0, 0, 0, 0, 1, 0, 1]",(to Chandler) Anything but stew. All right so...,"Yeah. Oh, ah with who?",(to Chandler) Anything but stew. All right ...,0,joy,"['neutral', 'neutral', 'neutral', 'neutral', '..."
2,2,2,02_e19_c06(0),"[['Eddie', ' Hey pal.'], ['Chandler Bing', "" A...",Eddie,True,"[1, 0, 1, 0, 1, 0]",Hey pal. Ahhhh-gaaaahhh. Eddie what're you st...,"Hey pal. Ah, just some basic dehydrating of...",Ahhhh-gaaaahhh. Eddie what're you still doin...,1,joy,"['joy', 'neutral', 'neutral', 'neutral', 'neut..."
3,3,3,02_e12_c05(0),"[['Chandler Bing', "" Oh no no no, she's a tota...",Phoebe Buffay,True,"[0, 0, 0, 0, 0, 1, 0]","Oh no no no, she's a total wack job. Yeah, sh...","No, uh-uh, I'm just, I'm nervous. So, you kn...","Oh no no no, she's a total wack job. Yeah, s...",1,anger,"['neutral', 'neutral', 'neutral', 'neutral', '..."
4,4,4,02_e22_c03(1),"[['Joey Tribbiani', "" Uh, hey, Dr. Greene, why...",Chandler Bing,False,"[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0]","Uh, hey, Dr. Greene, why don't you come with ...","Yes because uh, you look so young. NO! No, ...","Uh, hey, Dr. Greene, why don't you come with...",0,anger,"['neutral', 'neutral', 'neutral', 'joy', 'joy'..."

In [54]:
inputs = tokenizer("Hello, my dog is cute", return_tensors='pt')

In [56]:
output = model(**inputs)

In [61]:
a = output[1]

In [ ]:
b = output[]

In [27]:
df = 

import re
uttrs = [tokenizer.encode(sent, add_special_tokens=True, max_length=64, \
            pad_to_max_length=True) for sent in df['utterance']]
vad_scores = get_vad(VAD_dict, uttrs, tokenizer)

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
/home/zhiyuan/ENTER/lib/python3.8/site-packages/transformers/tokenization_utils_base.py:2198: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

In [35]:
df['uttr_V'] = [i[0] for i in vad_scores]
df['uttr_A'] = [i[1] for i in vad_scores]
df['uttr_D'] = [i[2] for i in vad_scores]

In [36]:
def vad_class(score):
    score = str(int(score * 10.0))
    return score


df_vad = df[['uttr_V', 'uttr_A', 'uttr_D']]

df_vad['uttr_V_cls'] = df_vad['uttr_V'].apply(vad_class)
df_vad['uttr_A_cls'] = df_vad['uttr_A'].apply(vad_class)
df_vad['uttr_D_cls'] = df_vad['uttr_D'].apply(vad_class)
df_vad.describe()

<ipython-input-36-49199ccb30e2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vad['uttr_V_cls'] = df_vad['uttr_V'].apply(vad_class)
<ipython-input-36-49199ccb30e2>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vad['uttr_A_cls'] = df_vad['uttr_A'].apply(vad_class)
<ipython-input-36-49199ccb30e2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vad['uttr_D_cls'] = df_vad['uttr_D'].apply(vad_class)

           uttr_V      uttr_A      uttr_D
count  568.000000  568.000000  568.000000
mean     0.112223    0.077694    0.091663
std      0.071973    0.049587    0.058517
min      0.000000    0.000000    0.000000
25%      0.048799    0.032505    0.038948
50%      0.114265    0.078308    0.090473
75%      0.166616    0.118205    0.138198
max      0.290769    0.227625    0.256878

In [39]:
df_vad['vad_cls'] = df_vad['uttr_V_cls'].apply(int) + df_vad['uttr_A_cls'].apply(int) + df_vad['uttr_D_cls'].apply(int)
df_vad.head()

<ipython-input-39-c9ce23418253>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vad['vad_cls'] = df_vad['uttr_V_cls'].apply(int) + df_vad['uttr_A_cls'].apply(int) + df_vad['uttr_D_cls'].apply(int)

     uttr_V    uttr_A    uttr_D uttr_V_cls uttr_A_cls uttr_D_cls  vad_cls
0  0.157341  0.145818  0.156182          1          1          1        3
1  0.096889  0.053463  0.064815          0          0          0        0
2  0.134320  0.103540  0.119080          1          1          1        3
3  0.127163  0.092512  0.119093          1          0          1        2
4  0.046421  0.046263  0.044789          0          0          0        0

In [44]:
df_vad['vad_cls'] = df_vad['vad_cls'].apply(str)
df_vad['vad_cls'].value_counts()

<ipython-input-44-50d5e766a4d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vad['vad_cls'] = df_vad['vad_cls'].apply(str)

0    257
3    140
2     59
4     57
1     41
5     12
6      2
Name: vad_cls, dtype: int64